<form method='POST' action='' class='mt-4'>
  <div class='form-group'>
    <label for='exampleInputEmail1'>Từ khóa</label>
    <input
      type='text'
      name='q'
      class='form-control'
      id='exampleInputEmail1'
      placeholder='Nhập từ khóa...'
    />
    <small id='emailHelp' class='form-text text-muted'>Halo</small>
  </div>
  <div class='form-group'>
    <label for='gender-input'>Từ khóa</label>
    <select name='gender' id='gender-input' class='form-control'>
      <option value=''>-- Chọn giới tính --</option>
      <option value='male'>Nam</option>
      <option value='female'>Nữ</option>
    </select>
  </div>
  <button type='submit' class='btn btn-primary'>Tìm kiếm</button>
</form>